@page "/login"
@using BlazorWebAssemblyApp.Authorization
@using BlazorWebAssemblyApp.Models
@inject JwtTokenAuthenticationStateProvider AuthenticationStateProvider

<h3>Login</h3>

<EditForm Model="model" OnValidSubmit="@LoginAsync">
    <div class="form-group">
        <label>Username:
            <InputText @bind-Value="model.Username" class="form-control" />
        </label>
    </div>
    <div class="form-group">    
        <label>Password:
            <InputText @bind-Value="model.Password" class="form-control" />
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>


@code {
    private LoginModel model = new LoginModel();

    private async Task LoginAsync()
    {
        await AuthenticationStateProvider.LoginAsync(model);
    }

}
