@using System.Security.Principal
@using System.Security.Claims
<div>
    <label for="filter">Search: </label>
    <input type="text" id="filter" @bind-value=@searchText @ref=@filterInputRef />

    <button type="button" @onclick=@Search>Search</button>
</div>

@code {

    private string searchText;

    private ElementReference filterInputRef;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private async Task Search()
    {
        await OnSearch.InvokeAsync(searchText);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await filterInputRef.FocusAsync();
        }
    }



}
